@charset "utf-8";

body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
table,
td,
img,
div,
dl,
dt,
dd,
input {
  margin: 0;
  padding: 0;
}

img {
  border: none;
}

li {
  list-style: none;
}

input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #f7f7f7;
}
.w{
  width: 1200px;
  margin: 0 auto;
}
.wbg {
  margin-bottom: 10px;
  padding: 15px 0px 15px 50px;
  background-color: #FFF;
}

.clearFix:after {
  content: "";
  display: block;
  clear: both;
}

.text-center {
  text-align: center;
}

.body_left {
  .router-link-active {
    background-color: #2d7662;
    color: #fff !important;
  }
}

.bottom_line{
  height: 50px;
  width: 100%;
  line-height: 50px;
  border-bottom: 1px solid #999;
  margin-bottom: 20px;
}

.big_text{
  font-weight: bold;
}
.G_bg{
  background-color: #2d7662;
  border: 1px solid #2d7662;
  color: white;
}
.G_bg:hover{
  background-color: #2D604C;
  border: 1px solid #2D604C;
  color: white;
}
.R_box{
  float: right;
  margin-right: 50px;
}

.active{
  background-color: #2d7662;
  color: white;
}
.warPer{
  background: white;
}
