@charset "utf-8";

body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}
img{border:none;}
li{list-style:none;}
input,select,textarea{outline:none;border:none;background:none;}
a{
  text-decoration: none;
  color: white;
}


body{
  background: #EEE;
}
.wbg{
  width:95%;
  height: 80px;
  background-color: white;
  margin-bottom: 10px;
  padding: 15px 15px 15px 50px;
}
.clearFix:after{
  content: "";
  display: block;
  clear: both;
}
